In [8]:
import pandas as pd
import os
import magic

In [9]:
# Specify the directory containing the text files
directory = "/Users/zm00g/Data_Science/regency_suites/data/hotel_data"

for filename in os.listdir(directory)[:5]:
        file_path = os.path.join(directory, filename)
        mime = magic.from_file(file_path, mime=True)
        with open(file_path, "rb") as f:
            file_contents = f.read()
        print(f"File: {filename}")
        print(f"MIME type: {mime}")
        # print(f"Contents: {file_contents}")

File: S20221019_X_00$00_23$00
MIME type: inode/x-empty
File: S20230716_1168_7-16-2023 11$33$13 AM_7-16-2023 10$09$22 PM
MIME type: application/csv
File: S20221219_888_12-19-2022 7$07$10 AM_12-20-2022 2$16$57 AM
MIME type: application/csv
File: S20230917_1279_9-17-2023 7$14$56 PM_9-18-2023 7$05$12 AM
MIME type: application/csv
File: S20230115_922_1-15-2023 8$51$06 AM_1-15-2023 8$33$34 PM
MIME type: application/csv

In [10]:
def process_csv_files(directory):
    # Initialize an empty list to store the CSV data
    dataframes = []

    # Iterate over all files in the directory
    for filename in os.listdir(directory):
        file_path = os.path.join(directory, filename)

        # Use magic to identify the file type
        mime = magic.from_file(file_path, mime=True)

        # Check if the file type is application/csv
        if mime == "application/csv":
            with open(file_path, 'r') as f:
                lines = f.readlines()
                data = []
                for line in lines:
                    values = line.strip().split(',')  # Read comma separated line without word wrap
                    data.append(values)
                df = pd.DataFrame(data)
                dataframes.append(df)
    return dataframes

def save_dataframes_to_csv(dataframes, output_filename):
    with open(output_filename, "w") as f:
        for dataframe in dataframes:
            dataframe.to_csv(f, index=False, header=False)

In [11]:
# Process all CSV files in the specified directory
hoteldataframes = process_csv_files(directory)

In [12]:
# Assign output_filename
output_filename = '/Users/zm00g/Data_Science/regency_suites/data/hotel_csv_data.csv'
# Same dataframes to csv
save_dataframes_to_csv(hoteldataframes, output_filename)

In [13]:
rdf = pd.read_csv('data/hotel_csv_data.csv')

In [15]:
rdf

,101,NK,1,NUID065253359,1.1,071623 113711 101,11:37 AM 07/16/2023,2,1.2,01:37 PM 07/16/2023,...,41.08.4,0.00.4,0.00.5,Unnamed: 54,F.2,F.3,Unnamed: 57,3,7.00%6.00%4.000%17.000,0000
0,115,K,1,NUIDE01654327,1,071623 110000 115,11:00 AM 07/16/2023,N,1.0,11:00 AM 07/17/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,4,7.00%6.00%4.000%17.000,0
1,106,K,1,NUIDG19613142,1,071623 121134 106,12:11 PM 07/16/2023,1,1.0,01:11 PM 07/16/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,1,7.00%6.00%4.000%17.000,0
2,107,K,1,TX20966254,1,071623 123307 107,12:33 PM 07/16/2023,1,1.0,01:33 PM 07/16/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,1,7.00%6.00%4.000%17.000,0
3,121,NK,1,MST0866277009,1,071623 110000 121,11:00 AM 07/16/2023,N,1.0,11:00 AM 07/17/2023,...,59.48,0.0,0.0,NaN,F,F,NaN,2,7.00%6.00%4.000%17.000,0
4,105,NKH,1,NUID0000002104536,1,071623 010735 105,01:07 PM 07/16/2023,2,1.0,03:07 PM 07/16/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,1,7.00%6.00%4.000%17.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6660,107,K,1,TX18616634,1,031023 103240 107,10:32 AM 03/10/2023,1,1.0,11:32 AM 03/10/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,3,7.00%6.00%4.000%17.000,0
6661,126,NK,1,TX28553027,1,031023 110000 126,11:00 AM 03/10/2023,N,1.0,11:00 AM 03/11/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,8,7.00%6.00%4.000%17.000,0
6662,109,K,1,TX02480352,1,031023 120718 109,12:07 PM 03/10/2023,1,1.0,01:07 PM 03/10/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,5,7.00%6.00%4.000%17.000,0
6663,106,K,1,TX12010347,1,031023 010850 106,01:08 PM 03/10/2023,2,1.0,03:08 PM 03/10/2023,...,0.00,0.0,0.0,NaN,F,F,NaN,1,7.00%6.00%4.000%17.000,0
6664,108,K,1,TX01613444,1,031023 011804 108,01:18 PM 03/10/2023,2,1.0,03:18 PM 03/10/2023,...,30.00,0.0,0.0,NaN,F,F,NaN,1,7.00%6.00%4.000%17.000,0